body, html {
    margin: 0;
    padding: 0;
}
.main-title, .btn-text {
  font-family: 'Poppins', sans-serif;
  font-family: 'Yrsa', serif;
}
.text-title2 {
  font-family: 'Yrsa', serif;
}

/* FORMAT MOBILE*/

@media screen and (max-width: 640px) {

    body {
        background-image: url(images/bg-mobile.svg);
        background-size: cover;
        background-color: hsl(257, 40%, 49%);

    }

    .logo-box {
        margin-top: 50px;
        margin-left: 18px;
        margin-bottom: 20px;
    }
    .image-logo {
        height: 19px;
        width: 120px;
        
    }
    .illustration-box {
        margin-left: 38px;
    }
    .image-illustration {
        height: 209px;
        width: 296px;
    }
    .text-box {
       margin: 0 auto;
       height: 304px;
       width: 272px;
        
        
    }
    .text-title1, .text-title2 {
        max-width: 300px;
        text-align: justify;
        color: white;
    }
    .btn {
        height: 40px;
        width: 200px;
        border: solid #FFFFFF 1px;
        background-color: #FFFFFF;
        border-radius: 25px;
        margin: auto;
        
    }
    .btn-link {
        color: #684BB1;
        
        
    }
    
  .btn-text {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
   
    .fb, .twitter, .ig {
        display: inline-block;
    }
    .ig-icone {
        height: 46px;
        width: 50px;
    }
    .socials-box {
        text-align: center;
        margin-top: -90px;
    }
}

/* FORMAT DESKTOP */

@media screen and (min-width: 641px) {

    body {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
        background-color: hsl(257, 40%, 49%);

    }

  
  .text-title1, .text-title2 {
    max-width: 400px;
    color: white;

  }
  .text-title1 {
    height: 120px;
    width: 487px;
    font-size: 40px;
    font-weight: 80px;
    line-height: 60px;
  }
  .text-title2 {
    height: 81px;
    width: 520px;
    font-size: 18px;
    line-height: 27px;
  }
 .illustration-box {
    height: 493px;
    width: 696px;
    text-align: center;
    margin-left: 40px;
    
 }

   
  .text-box {
    height: 225px;
    width: 520px;
    margin: 50px 0 300px 50px;
   
  }
  .illustration-box, .text-box {
    float: left;
  }

.btn {
    height: 53px;
    width: 199px;
    background-color: white;
    border-radius: 50px;
    margin-top: 40px;
}
.btn:hover {
    background-color: #E880E8;
}
.btn-text {
    display: block;
    text-align: center;
    padding-top: 15px;
  }
  .btn-link {
    color: #684BB1;
    text-decoration: none;
  }
  
    .fb-icone:hover, .twitter:hover, .ig:hover {
        background-image: url(images/backgroung-socials.png); 
        background-size: 40px;
        
        
    }
    .twitter, .ig, .fb {
      height: 40px;
      width: 40px;
    }
   
  
    
    .fb, .ig, .twitter {
        display: inline-block;   
        
        
    }

  
    .socials-box {
        float: right;
        margin-bottom: 20px;
        
    }
   
}